@font-face {
	font-family: 'Rubik';
	src: url("assets/fonts/Rubik-VariableFont_wght.ttf");
}

.header {
	background-color: #c27b67;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.nav-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style: none;

}

.main {
	background-color: #f2ecea;
	width: 1000px;
	padding-left: 30px;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	width: 1000px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	background-color: #d9bbb3;
	column-count: 2;
}



html {
	scroll-behavior: smooth;
}

.nav-link {
	padding: 0 20px;
	line-height: 50px;
	text-decoration: none;
	color: #ffffff;
}





html,
body {
	font-family: Rubik, sans-serif;
	min-height: 100vh;
	font-size: 16px;
	margin: 0;
	padding: 10px;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
}

.info {
	column-count: 2;
}



@media (max-width: 768px) {
	.section {
		width: 100%;
	}
}


header,
main,
footer {
	margin-bottom: 0;

}


body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
}

table.border td,
table.border th {
	padding: 5px;
	border: 1px solid #c0c0c0;
}

table.border th {
	background: #e0e0e0;
}




* {
	box-sizing: border-box;
}

h1 {
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 0px;
	color: #945d4e;
}

h2 {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 0px;
	color: #945d4e;
}

ul,
p {
	font-size: 20px;
	color: #3d2101;
}

a {
	text-decoration: none;
	color: #975221;
}

.round {
	border-radius: 50%;
	float: left;
	margin: 0 30px 0px 40px;
}

.section {
	clear: left;
}